<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>
	<div layout:fragment="footer">
		<!-- card -->
		<div class="card fixed-bottom mb-4">
			<h5 class="card-header bg-primary text-white">サイトマップ</h5>
			<div class="card-body">
				<div class="row">
					<a class="col-sm-4 mx-auto btn btn-outline-success text-left"
						th:href="@{/index}">ホーム<br />・ホーム画面
					</a> <a class="col-sm-4 mx-auto btn btn-outline-success text-left"
						th:href="@{/Readme}">README<br />・本アプリケーションについての説明
					</a>
				</div>
				<div class="row mt-5">
					<a class="col-sm-4 mx-auto btn btn-outline-success text-left"
						th:href="@{/ajaxTemplate}">Ajaxサンプル<br />・ajaxのGetリクエスト、Postリクエストの実装サンプル
					</a> <a class="col-sm-4 mx-auto btn btn-outline-success text-left"
						th:href="@{/memo}">CRUDサンプル<br />・メモを追加、参照、更新、削除の実装サンプル
					</a>
				</div>
			</div>
		</div>
		<!-- /card -->


		<!-- Copyright -->
		<div class="row">
			<div class="col-sm-12 bg-info fixed-bottom">
				<div
					class="footer-copyright text-center font-weight-bold text-white">©
					2020 Copyright: **サンプル**</div>
			</div>
		</div>
		<!-- /Copyright -->
	</div>
</body>
</html>