<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>
	<div layout:fragment="header">
		<!-- ログアウト -->
		<div class="row">
			<div class="text-right col-sm-12 bg-info fixed-top">
				<form th:action="@{/logout}" method="post">
					<button type="submit"
						class="btn btn-link text-white font-weight-bold">ログアウト</button>
				</form>
			</div>
		</div>
		<!-- /ログアウト -->
	</div>
</body>
</html>
