<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout}">

<head>

<title>PracticeForSpringBoot</title>
</head>
<body class="bg-light">
	<!-- 共通レイアウト読み込み -->
	<div layout:fragment="content">

		<div class="row">
			<div class="col-sm-12 mark">
				<h2 class="ml-2 mt-5">トップページ</h2>
			</div>
		</div>

		<div class="container-fluid">

			<!-- card -->
			<div class="card my-2">
				<h5 class="card-header">インフォメーション</h5>
				<div class="card-body">
					<p
						th:text="${loginViewModel.id} != null ? 'ログイン中のユーザー：' + ${loginViewModel.id} : ' '"></p>
					<p class="text-danger">テスト運用中</p>
				</div>
				<div class="card-footer">
					<!-- message_ja.propertiesから直接取得 -->
					<label th:text="#{msg.info}"></label>
				</div>
			</div>
			<!-- /card -->


		</div>
		<!-- /container-fluid -->
	</div>
</body>
</html>
