<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout}">

<head>

<title>PracticeForSpringBoot</title>
</head>
<body class="bg-light">
	<!-- 共通レイアウト読み込み -->
	<div layout:fragment="content">

		<div class="row">
			<div class="col-sm-12 mark">
				<h2 class="ml-2 mt-5">CRUDサンプル</h2>
			</div>
		</div>

		<div class="container-fluid">

			<!-- row -->
			<div class="row mb-2">
				<div class="col-sm-12">
					<button type="button" class="btn btn-primary" data-toggle="modal"
						data-target="#memo_insert_modal">メモを追加</button>
					<label class="badge badge-danger ml-2" id="max_memo_size"></label>
					<div class="modal fade" id="memo_insert_modal" tabindex="-1"
						role="dialog" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<input type="text" class="modal-title form-control"
										id="memo_title" name="memo_title" placeholder="タイトル" />
								</div>
								<div class="modal-body">
									<textarea class="form-control" id="memo_text" rows="5"
										maxlength="200"></textarea>
								</div>
								<div class="modal-footer">
									<button class="btn btn-success" id="memo_insert">メモを追加</button>
									<button type="button" class="btn btn-secondary"
										data-dismiss="modal">閉じる</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /row -->

			<!-- card -->
			<div class="card-group mb-2">
				<div class="card" th:each="memoList, stat : ${memoViewModel}">
					<div class="card-header" th:text="${memoList.title}"></div>
					<div class="card-body">
						<div class="card-text" th:text="${memoList.memo}"></div>
					</div>
					<div class="card-footer">
						<button type="button" class="btn btn-primary"
							th:id="${'memo_modify' + stat.index}" data-toggle="modal"
							data-target="#memo_modify" th:data-title="${memoList.title}"
							th:data-body="${memoList.memo}">メモを編集</button>

						<!-- モーダル -->
						<div class="modal fade" id="memo_modify" tabindex="-1"
							role="dialog" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<input type="text" class="modal-title form-control"
											placeholder="タイトル" disabled />
									</div>
									<div class="modal-body">
										<textarea class="form-control" id="memo_up_text" rows="5"
											maxlength="200"></textarea>
									</div>
									<div class="modal-footer">
										<button class="btn btn-success" id="memo_update">メモを更新</button>
										<button type="button" class="btn btn-secondary"
											data-dismiss="modal">閉じる</button>

									</div>
								</div>
							</div>
						</div>
						<!-- /モーダル -->

						<button class="btn btn-danger"
							th:id="${'memo_delete' + stat.index}"
							th:value="${memoList.title}">メモを削除</button>
					</div>

					<input type="hidden" id="memo_list_size" th:value="${stat.size}">
				</div>
			</div>
			<!-- /card -->

		</div>
		<!-- /container-fluid -->
	</div>
</body>
</html>