<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout}">

<head>

<title>PracticeForSpringBoot</title>
</head>
<body class="bg-light">
	<!-- 共通レイアウト読み込み -->
	<div layout:fragment="content">

		<div class="row">
			<div class="col-sm-12 mark">
				<h2 class="ml-2 mt-5">README</h2>
			</div>
		</div>

		<div class="container-fluid">

			<!-- row -->
			<div class="accordion mt-2" id="accordion" role="tablist"
				aria-multiselectable="true">
				<div class="card">

					<!-- app construction -->
					<div class="card-header" role="tab" id="app_construction">
						<h5 class="mb-0">
							<a class="text-body d-block p-3 m-n3" data-toggle="collapse"
								href="#app_construction_content" role="button"
								aria-expanded="true" aria-controls="app_construction_content">
								アプリケーション構成 </a>
						</h5>
					</div>
					<div id="app_construction_content" class="collapse show"
						role="tabpanel" aria-labelledby="app_construction">
						<div class="card-body">
							<!-- message_ja.propertiesから直接取得 -->
							<p th:text="#{msg.openjdk.ver}"></p>
							<p th:text="#{msg.postgres.ver}"></p>
							<p th:text="#{msg.jquery.ver}"></p>
							<p th:text="#{msg.bootstrap.ver}"></p>
							<p th:text="#{msg.maven.ver}"></p>
							<p th:text="#{msg.tomcat.ver}"></p>
						</div>
					</div>
					<!-- /app construction -->

					<!-- DB config -->
					<div class="card-header" role="tab" id="db_config">
						<h5 class="mb-0">
							<a class="text-body d-block p-3 m-n3" data-toggle="collapse"
								href="#db_config_content" role="button" aria-expanded="true"
								aria-controls="db_config_content"> DB設定 </a>
						</h5>
					</div>
					<div id="db_config_content" class="collapse" role="tabpanel"
						aria-labelledby="db_config">
						<div class="card-body">DBの説明</div>
					</div>
					<!-- /DB config -->


				</div>
			</div>
			<!-- /row -->

		</div>
		<!-- /container-fluid -->
	</div>
</body>
</html>